<link rel="stylesheet" href="../../../assets/css/screen/login/login.css"
		th:href="@{/assets/css/screen/login/login.css}" />
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New User Signup!</h2>
					<form th:action="${commonUrl.URL_REGISTER_STORE}" method="post" th:object="${element}">
						<input type="text" placeholder="Name" th:field="*{userName}" th:errorclass="fieldError"/>
						<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-text">error!</span>
						
						<input type="email" placeholder="Email Address" th:field="*{email}" th:errorclass="fieldError"/>
						<input type="password" placeholder="Password" th:field="*{password}" th:errorclass="fieldError"/>
						
						<input type="password" placeholder="Confirm Password" th:field="*{passwordConfirm}" th:errorclass="fieldError"/>
						<input type="text" placeholder="First Name" th:field="*{firstName}" th:errorclass="fieldError"/>
						<input type="text" placeholder="Last Name" th:field="*{lastName}" th:errorclass="fieldError"/>
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->