<section id="section2" class="cd-section">
		<div class="container">
          <div class="row">
           <div class="col-md-12">
		    <div class="box-content">
                <!-- Category Filter -->
                    <div class="portfolio albumContainer">
	                        <div class="cat3 col-md-4 item">
                             <div class="grid">
                                  <figure class="effect-oscar">
		                            <img th:src="@{/assets/images/portfolio/1.jpg}" alt="" />
                                    <figcaption>
							            <p>Crete post.</p>
                                        <a th:href="${commonUrl.URL_ADMIN_POST}" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>
	
	                        <div class="cat2 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/2.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details video man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>	

	                        <div class="cat1 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/3.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>
	                        
                            <div class="cat3 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/4.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details video decent man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat4 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/5.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat1 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/6.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details video decent man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat4 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/7.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details images decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat2 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/8.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Details video decent man. He used to clean porches with pleasure.</p>
                                        <a href="details_video.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>

                            <div class="cat3 col-md-4 item">
                               <div class="grid">
                                  <figure class="effect-oscar">
		                            <a href="#"><img th:src="@{/assets/images/portfolio/9.jpg}" alt="" /></a>
                                    <figcaption>
							            <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                                        <a href="details.html" class="smooth-redirect"></a>
						            </figcaption>	
                                  </figure>
                              </div>
	                        </div>
                      </div>
               </div><!--close box content-->
             </div>
		  </div>
      </div>

      <div class="parallax2">
        <div class="overlay-white">
            <div class="container">
              <div class="row">
               <div class="col-md-12">
               <div id="owl-demo" class="owl-carousel owl-theme">
 
                  <div class="item">
                            <div class="carousel-desc">
                                <span class=" icon-anchor"></span>
                                <h1>What people say</h1>
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                <p class="nm-name">- Brian Rood</p>
                        </div>
                    </div>
                    <div class="item">
                            <div class="carousel-desc">
                            <span class=" icon-anchor"></span>
                                <h1>What people say</h1>
                                <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                <p class="nm-name">- Miki Rood</p>
                            </div>
                    </div>
                    <div class="item">
                        <div class="carousel-desc">
                        <span class=" icon-anchor"></span>
                            <h1>What people say</h1>
                            <p>Fusce risus metus, placerat in <span>consectetur</span> eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                <p>A small <span>creative</span> team, trying to enrich the lives of others</p>
                                <p class="nm-name">- Robert Rood</p>
                        </div>
                    </div>
 
                </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->