<link rel="stylesheet" href="../../../assets/css/screen/login/login.css"
		th:href="@{/assets/css/screen/login/login.css}" />
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login to your account</h2>
					<form th:action="${commonUrl.URL_AUTH}" method="post" th:object="${userDto}" >
						<input type="text" placeholder="Name" th:field="*{userName}"/>
						<input type="password" placeholder="Password" th:field="*{password}"/>
						<span>
							<input type="checkbox" class="checkbox"   th:name="remember-me" /> 
							Keep me signed in
						</span>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New User Signup!</h2>
					<form th:action="${commonUrl.URL_REGISTER}" method="get" th:object="${userDto}">
						<input type="text" placeholder="Name" th:field="*{userName}"/>
						<input type="email" placeholder="Email Address" th:field="*{email}"/>
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->