<!--/* --------------------------------------------------
 + 【機 能】共通テンプレート
 + 【役 割】------
-------------------------------------------------- */-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >

<head>
<!--/* 共通 Meta */-->
<link
	th:substituteby="common/common_meta :: common_meta"></link>
<!--/* 共通 */-->
<link th:substituteby="common/link_common_resource :: common_resource"></link>
</head>

<body>
		<!--/* Article */-->
				<article class="article" th:with="commonUrl=${T(com.hung.common.constants.UrlConstants)}">
		<!-- 		<article class="article" -->
		<!-- 			th:with="t3a=${@t3a}, t3r=${@t3r}, -->
		<!-- 			masterUrl=${T(jp.co.msr.t3.web.constants.urls.MasterUrlConstants)}, -->
		<!-- 			authUrl=${T(jp.co.msr.t3.web.constants.urls.AuthUrlConstants)}"> -->
		
		<!--/* Header */-->
		<link th:substituteby="common/common_header :: common_header"></link>
		
		<!--/* Slider */-->
<!-- 		<link th:substituteby="common/common_slider :: common_slider"></link> -->

		<!--/* Content */-->
		<div th:if="${mainContent != null}" th:replace="${mainContent}"></div>








		<!--/* 検索 */-->
<!-- 			<div th:if="${searchContent != null}" class="searchcontent"> -->
<!-- 				<div th:replace="${searchContent}"></div> -->
<!-- 			</div> -->

			<!--/* Title Bar */-->
<!-- 			<section class="titlebar noreturn"> -->
<!-- 				<h2 class="screenTitle" th:text="${screentitle}">個人マスタ管理</h2> -->
<!-- 			</section> -->

			<!--/* Main content */-->
<!-- 			<div> -->
<!-- 				<section class="body"> -->
<!-- 					<div class="maincontent row"> -->

<!-- 		<div th:if="${mainContent != null}" th:replace="${mainContent}"></div> -->

<!-- 					</div> -->
<!-- 				</section> -->
<!-- 			</div> -->

			<!--/* BatchProgressBar */-->
<!-- 			<div th:substituteby="common/common_batch_progress_viewer :: common_batch_progress_viewer"></div> -->

<!-- 		</article> -->

		<!--/* Footer */-->
		<link th:substituteby="common/common_footer :: common_footer"></link>

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			/*]]>*/
		</script>

</body>
</html>
