<head th:fragment="common_resource" th:remove="tag">

	<!--/* ******************************************************** CSS Libraries ******************************************************** */-->
<!-- 	<link rel="stylesheet" href="../../assets/css/lib/bootstrap.min.css" th:href="@{/assets/css/lib/bootstrap.min.css}"/> -->
	<link rel="stylesheet" href="../../assets/css/lib/bootstrap-theme.min.css" th:href="@{/assets/css/lib/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../assets/css/common/admin.css" th:href="@{/assets/css/common/admin.css}"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
	
	<!--/* ******************************************************** JS Libraries ******************************************************** */-->
    <script src="../../assets/js/lib/jquery.js" th:src="@{/assets/js/lib/jquery.js}"></script>
    <script src="../../assets/js/lib/bootstrap.min.js" th:src="@{/assets/js/lib/bootstrap.min.js}"></script>
    <script src="../../assets/js/common/adminCommon.js" th:src="@{/assets/js/common/adminCommon.js}"></script>
</head>	