<form th:object="${element}">
  <div class="form-group">
    <label >UserName</label>
    <input th:if="*{newFlag == true}" th:field="*{userName}" type="text" class="form-control" placeholder="UserName" th:errorclass="fieldError"/>  
    <label th:if="*{newFlag == false}" th:text="*{userName}" class="" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" th:field="*{password}"  placeholder="Password">
  </div>
  <div class="checkbox form-group">
    <label>
    	<label for="exampleInputPassword1">Enable</label>
      <input type="checkbox" th:checked="${enabled}">
    </label>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>