<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

<link rel="stylesheet" href="../../../assets/css/screen/admin/user.css"
		th:href="@{/assets/css/screen/admin/user.css}" />

	<form method="post" th:action="${commonUrl.URL_ADMIN_USER_STORE} + '?' + __${_csrf.parameterName}__ +'='+ __${_csrf.token}__"  th:object="${element}"  action="" class="form-horizontal" enctype="multipart/form-data">
		 <div class="form-group">
			   <label class="col-sm-2 control-label" >UserName</label>
			   <div class="col-sm-10">
				  	<input th:if="*{newFlag == true}" th:field="*{userName}" type="text" class="form-control" placeholder="UserName" th:errorclass="fieldError"/>
				  	<label th:if="*{newFlag == false}" th:text="*{userName}" class="" />
			   </div>  
			   <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-text">error!</span>
		 </div>
		 
		<div th:if="*{newFlag == true}" class="form-group">
			<label class="col-sm-2 control-label" >Password</label>
			<div class="col-sm-10">
				<input  th:field="*{password}" type="text" class="form-control" placeholder="Password" th:errorclass="fieldError"/>  
			</div>
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-text">error!</span>
		</div>
	  
	  <div th:if="*{newFlag == true}" class="form-group">
			<label class="col-sm-2 control-label" >passwordConfirm</label>
			<div class="col-sm-10">
				<input  th:field="*{passwordConfirm}" type="text" class="form-control" placeholder="passwordConfirm" th:errorclass="fieldError"/>
			</div>  
			<span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="error-text">error!</span>
	  </div>
	  
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Enable
	    </label>
	  </div>
	  
		<div class="form-group">
			<label class="col-sm-2 control-label" >First Name</label>
			<div class="col-sm-10">
				<input  th:field="*{firstName}" type="text" class="form-control" placeholder="firstName" th:errorclass="fieldError"/>  
			</div>
			<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-text">error!</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >lastName</label>
			<div class="col-sm-10">
				<input  th:field="*{lastName}" type="text" class="form-control" placeholder="lastName" th:errorclass="fieldError"/>  
			</div>
			<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-text">error!</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >Birth</label>
			<div class="col-sm-10">
				<input  th:field="*{birth}" type="text" class="form-control" placeholder="birth" th:errorclass="fieldError"/>  
			</div>
			<span th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="error-text">error!</span>
		</div>
	  
		<div class="form-group">
			<label class="col-sm-2 control-label" >Roles</label>
			<div class="col-sm-10">
				<select class="form-control" th:field="*{role}">
					<option th:each="roleElm : ${roleList}"
                            th:value="${roleElm.key}"
                            th:utext="${roleElm.value}" />
				</select>
			</div>
			<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error-text">error!</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >email</label>
			<div class="col-sm-10">
				<input  th:field="*{email}" type="text" class="form-control" placeholder="email" th:errorclass="fieldError"/>  
			</div>
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-text">error!</span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >Sex</label>
			<div class="col-sm-10">
				<select class="form-control" th:field="*{sex}">
					<option th:each="sexElm : ${sexList}"
                            th:value="${sexElm.key}"
                            th:utext="${sexElm.value}" />
				</select>
			</div>
			<span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="error-text">error!</span>
		</div>
		
		<input th:if="*{newFlag == true}" type="file" th:field="*{imgFile}" th:errorclass="fieldError"/>
	  
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	
	<script src="../../assets/js/screen/admin/user.js"
		th:src="@{/assets/js/screen/admin/user.js}"></script>
</div>